{% block content %}
    <h2>Company detail</h2>
    <table>
        <thead>
            <tr>
                {% for attribute, _ in company.get_fields %}
                    <th>
                        {{ attribute }}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for _, value in company.get_fields %}
                    <td>
                        {{ value }}
                    </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
{% endblock %}