{% block content %}
    <h2>Companies</h2>
    <table>
        <thead>
            <tr>
                {% for attribute, _ in fields %}
                    <th>
                        {{ attribute }}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for company in companies %}
                <tr>
                    {% for _, value in company.get_fields %}
                        <td>
                            {{ value }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block pagination %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %} 